<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
	function subscribe(s){
		s.disabled=true;
		s.value='<%:Refresh...%>';
		XHR.get('<%=luci.dispatcher.build_url("admin","services","overwall","subscribe")%>',null,function(x,rv){
			setTimeout(function(){
				window.location.reload()
			},1000);
		});
		return false;
	}
//]]></script>
<input type="button" class="cbi-button cbi-input-apply" value="<%:Update All Subscribe Severs%> " onclick="return subscribe(this)"/>
<%+cbi/valuefooter%>
